init-author-url="https://github.com/codenuru"
init-license=MIT
init-version=0.0.0
save-exact=true
save=true
depth=0
loglevel=warn
progress=false
color=true
strict-engine=true
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
